<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <description>Shiro Configuration</description>

    <!--shiro配置文件 需要和spring容器配置文件同级 和 springMvc同级会出问题 需要查资料-->

    <!-- Shiro权限过滤过滤器定义 -->
    <bean name="shiroFilterChainDefinitions" class="java.lang.String">
        <constructor-arg>
            <value>
                /static/** = anon
                /views/include/** = anon
                /login = anon
                /login/sublogin = anon
                /** = authc
            </value>
        </constructor-arg>
    </bean>

    <!--自定义shiro过滤器  未使用-->
    <bean id="rolesOrFilter" class="com.sola.filter.RolesOrFilter"></bean>

    <!-- 安全认证过滤器 -->
    <!--shiro过滤器   shiro过滤器会包装request-->
    <!--unauthorizedUrl，系统未认证时跳转的页面，loginUrl登录页面，successUrl登录成功的页面-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/login"></property>
        <property name="unauthorizedUrl" value="403"></property>
        <property name="filterChainDefinitions">
            <ref bean="shiroFilterChainDefinitions"></ref>
        </property>
        <property name="filters">
            <util:map>
                <entry key="rolesOr" value-ref="rolesOrFilter"></entry>
            </util:map>
        </property>
    </bean>

    <!--创建SecurityManager对象-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="realm"></property>
        <property name="sessionManager" ref="sessionManager"></property>
    </bean>
    <!--自定义realm-->
    <bean id="realm" class="com.sola.controller.shiro.MyRealmi">
        <property name="credentialsMatcher" ref="matcher"></property>
    </bean>
    <!--shiro 消息加密 目前用于登录验证加密 , shiro其他验证是否会使用加密需要查资料-->
    <bean id="matcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"></property>
        <property name="hashIterations" value="1"></property>
    </bean>

    <!--sessionManager 管理session  需要自定义管理器 使用token作为key,没有key的情况下使用sessionid-->
    <bean id="sessionManager" class="com.sola.utils.MySessionManager.MySessionManager">
        <property name="sessionDAO" ref="sessionRedisDao"></property>
    </bean>

    <!--session DAO 负责session的增删改查-->
    <bean id="sessionRedisDao" class="com.sola.utils.MyShiroSessionDao.ShiroSessionRedisDao"></bean>

    <!--shiro 注解相关  需要查资料-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean><!-- Shiro生命周期处理器-->
    <bean id="authorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"></property>
    </bean>

</beans>